{% extends 'index.html' %}
{% block content %}

{% if error %}
<p>{{error}}</p>
<br>
<br>
{% endif %}
<div class="container">
<h1>¡Regístrate!</h1>

<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
Usuario:
<br />
<input type="text" name="username" class="form-control" placeholder="Ingresa el nombre de tu usuario, el cual deseas crear" />
<br />
Contraseña:
<br />
<input type="password" name="password1" class="form-control" placeholder="Ingresa una contraseña" />
<br />
Repite tu contraseña:
<br />
<input type="password" name="password2" class="form-control" placeholder="Ingresa de nuevo tu contraseña" />
<br />

<input class="btn btn-secondary" type="submit" value="Registrame!" />
</form>
</br>
</div>
{% endblock %}



